---
- name: "Task: Perform Game Server Updates And AMP Instance Manager Upgrade"
  hosts: all
  become: true
  become_user: root # Default for the play

  tasks:
    - block:
        # --- Discord Message ---
        - name: "Discord Messages - Server Upgrade Alert"
          community.general.discord:
            webhook_id: "{{ item.id }}"
            webhook_token: "{{ item.token }}"
            content: "In 5 Minutes All Servers Will Be Taken Offline For Upgrades"
            username: "Ansible Alerts"
          loop:
            - { id: "{{ nft_server_alerts_id }}", token: "{{ nft_server_alerts_token }}" }

        # --- Pause System For 5 Minutes ---
        - name: Pause for 5 minutes
          ansible.builtin.pause:
            minutes: 5

        # --- ROOT User Tasks ---
        - name: Perform a dist-upgrade
          ansible.builtin.apt:
            upgrade: full
            update_cache: yes
        
        # --- AMP User Tasks (Grouped in a Block) ---
        - name: AMP Instance Manager Upgrade Tasks
          block:
            - name: Execute ampinstmgr upgradeall without cache
              ansible.builtin.command: ampinstmgr --nocache upgradeall
          become_user: amp # This applies only to the tasks within this block

        # --- ROOT User Tasks ---
        - name: Reboot the Servers
          ansible.builtin.reboot:
          
        - name: Remove dependencies that are no longer required
          ansible.builtin.apt:
            autoremove: yes

        # --- Discord Message ---
        - name: "Discord Messages - Finished Alert"
          community.general.discord:
            webhook_id: "{{ item.id }}"
            webhook_token: "{{ item.token }}"
            content: "The Server Upgrade Has Finished."
            username: "Ansible Alerts"
          loop:
            - { id: "{{ nft_server_alerts_id }}", token: "{{ nft_server_alerts_token }}" }
    
      # --- ERROR HANDLING ---
      rescue:
        - name: "Discord Messages - Error Alert"
          community.general.discord:
            webhook_id: "{{ item.id }}"
            webhook_token: "{{ item.token }}"
            content: "An Error Has Been Encountered During The Update Process."
            username: "Ansible Alerts"
          loop:
            - { id: "{{ nft_server_alerts_id }}", token: "{{ nft_server_alerts_token }}" }
            - { id: "{{ homelab_amp_notif_id }}", token: "{{ homelab_amp_notif_token }}" }