---
- name: "Task: Perform Game Server Updates And AMP Instance Manager Upgrade"
  hosts: all
  become: true
  become_user: root # Default for the play

  tasks:
    - block:
        # --- Discord Messages --- 
        - name: "Players Discord Message - Start"
          community.general.discord:
            webhook_id: "{{ item.id }}"
            webhook_token: "{{ item.token }}"
            content: "Backing Up The Backups To The Backup Server."
            username: "Ansible Alerts"
          loop:
            - { id: "{{ nft_server_alerts_id }}", token: "{{ nft_server_alerts_token }}" }

        # --- Do Synch Task --- 
        - name: Synch Backups Files To Backup Server
          ansible.builtin.command: "rsync -a --delete {{ item.from }} {{ item.to }}"
          loop:
            - { from: "{{ atm10_rsyc_dir_from }}", to: "{{ atm10_rsyc_dir_to }}" }
            - { from: "{{ atm10_skyblock_rsyc_dir_from }}", to: "{{ atm10_skyblock_rsyc_dir_to }}" }

        # --- Discord Message ---
        - name: "Discord Messages - Server Upgrade Alert"
          community.general.discord:
            webhook_id: "{{ item.id }}"
            webhook_token: "{{ item.token }}"
            content: "Finshed Backing Up The Backups To The Backup Server. AMP Server Upgrades Are Now In Process."
            username: "Ansible Alerts"
          loop:
            - { id: "{{ nft_server_alerts_id }}", token: "{{ nft_server_alerts_token }}" }

        # --- ROOT User Tasks ---
        - name: Perform a dist-upgrade
          ansible.builtin.apt:
            upgrade: full
            update_cache: yes
        
        # --- AMP User Tasks (Grouped in a Block) ---
        - name: AMP Instance Manager Upgrade Tasks
          block:
            - name: Execute ampinstmgr upgradeall without cache
              ansible.builtin.command: ampinstmgr --nocache upgradeall
          become_user: amp # This applies only to the tasks within this block

        # --- ROOT User Tasks ---
        - name: Reboot the Servers
          ansible.builtin.reboot:
          
        - name: Remove dependencies that are no longer required
          ansible.builtin.apt:
            autoremove: yes

        # --- Discord Message ---
        - name: "Discord Messages - Finished Alert"
          community.general.discord:
            webhook_id: "{{ item.id }}"
            webhook_token: "{{ item.token }}"
            content: "The AMP Server Upgrade Has Finished. The Game Instances Will Restart Shortly."
            username: "Ansible Alerts"
          loop:
            - { id: "{{ nft_server_alerts_id }}", token: "{{ nft_server_alerts_token }}" }
    
      # --- ERROR HANDLING ---
      rescue:
        - name: "Discord Messages - Error Alert"
          community.general.discord:
            webhook_id: "{{ item.id }}"
            webhook_token: "{{ item.token }}"
            content: "An Error Has Been Encountered During The Update Process."
            username: "Ansible Alerts"
          loop:
            - { id: "{{ nft_server_alerts_id }}", token: "{{ nft_server_alerts_token }}" }
            - { id: "{{ hl_amp_server_alerts_id }}", token: "{{ hl_amp_server_alerts_token }}" }